<div class="card" [ngClass]="{'fav': blogPost.fav}">
  <div class="card-body">
    <h5 class="card-title">{{blogPost.title}}</h5>
    <p></p>

    <span *ngIf="collapsed">
      {{blogPost.summary | truncate: 70}}
      <a href="#" (click)="toggle()"> more</a>
    </span>
    <span *ngIf="!collapsed">
      {{blogPost.summary}} 
      <a href="#" (click)="toggle()"> less</a>
    </span>

    <p></p>
    <a href="#" (click)="toggleFav()" class="btn btn-primary" 
      style="margin-right:2px">
      Favorite
    </a>
    <a href="#" class="btn btn-primary">Read</a>
  </div>
</div>